
<div>
   <p class="profileImage">{{detail.initials}}</p>
    <div>User Profiles
        <p class="cs142-detail-name">Name: {{detail.first_name}} {{detail.last_name}}</p>
        <p class="cs142-detail-occupation">Occupation: {{detail.occupation}}</p>
        <p class="cs142-detail-description">Description: {{detail.description}}</p>
        <p class="cs142-detail-location">Location: {{detail.location}}</p>
    <div>
    <button><a aria-label="Photo of user{{x}}" href="#!/photos/{{detail._id}}"  class="cs142-detail-photosButton">photos</a></button>
</div>
